/* Copyright Drew Silcock (2016) */

/* https://coolors.co/9debff-ff99ff-007ea7-003249-ccdbdc */

/* Hannah's Pink: #ffc9c9 */
/* Andy's Blue:  #b7f0ff */

html,
body {
  font-family: 'Playfair Display', serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 75px;
  min-height: 100%;
}

.hp-header .mdl-layout__header,
.hp-header .mdl-layout__drawer-button {
  color: rgba(255, 255, 255, 0.87)
}

/* ==== Navbar ==== */

.hp-navbar {
  background: transparent;
  margin-bottom: 0;
  background-color: #003249;
  border: none;

  color: white;
  text-shadow: none;
}

.hp-navbar.navbar > .container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hp-navbar.navbar .navbar-nav>li>.hp-navlink {
  color: white;
  text-shadow: none;
  border-radius: 100px;
  transition: all .2s ease;

  background-color: transparent;
  padding: 15px;
  border: none;
}

.hp-navbar.navbar .navbar-nav>li>.hp-navlink:hover {
  background: #9dEbff;
}

.hp-navbar.navbar .navbar-nav>.hp-brand {
  background: #9dEbff;
}

.hp-navbar.navbar .navbar-nav>li.active>.hp-navlink {
  background: #003249;

  filter: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.hp-navbar.navbar .navbar-nav>li.active>.hp-navlink:hover {
}

.hp-brand.navbar-brand {
  padding: 2px 20px;
  color: white;
  text-shadow: none;
  position: relative;
  width: 100px;

  transition: all .1s ease;
}

.hp-brand.navbar-brand:hover {
  color: #9dEbff;
  text-shadow: 0 0 1px white;
}

.hp-brand.navbar-brand .hp-brand__logo-birds,
.hp-brand.navbar-brand .hp-brand__logo-ring {
  height: 100%;
  position: absolute;
  top: 0;
}

.hp-brand__logo-ring {
  opacity: 0;
  transition: opacity .1s ease;
}

.hp-brand__logo-ring:hover {
  opacity: 1;
}

/* ==== Main Content ==== */

.hp-content {
  padding: 20px;
}

/* ==== Header Image ==== */

.hp-header__container {
  border: none;
  padding: 10px 0;
}

.hp-header {
  height: 512px;
  background-color: grey;
  color: white;
  text-align: center;
  background: url(../images/fox-tower-circle.jpg) center / contain;
  background-repeat: no-repeat;
  text-align: center;
}

.hp-drawer-title {
  margin: auto auto 10px auto;
}

/* Ignore Above */
.hp-landing-image {
  width: 100%;
}

.hp-grow {
  transition: all .2 ease-in-out;
}

.hp-grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.hp-header__title {
  margin: 0;
  padding-top: 15px;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 3px 2px rgb(69, 67, 67);
}

.hp-header__title-hannah {
  color: #ffc9c9;
}

.hp-header__title-andy {
  color: #b7f0ff;
}

/* Leading text below header. */
.hp-title,
.hp-lead
{
  text-align: center;
}

/* Section title style */
.hp-section-title {
  font-style: italic;
  font-size: 40px;
  padding: 10px 0;
  margin-bottom: 20px;

  color: #555;
  border-bottom: ridge #555;
}

.hp-section-title__icon {
  float: right;
}

/* Section paragraph style */
.hp-section-paragraph {
  font-size: large;
  margin: 25px 0;
}

.hp-address {
  font-size: large;
}

/* ==== Timeline ==== */

.hp-timeline__section-title {
  width: 83%;
  position: absolute;
}

.hp-timeline {
  padding-top: 125px;
  margin: auto;
}

.hp-timeline__title {
  float: left;
}

.hp-timeline__time {
  float: right;
  font-weight: bolder;
  font-size: x-large;
}

/* ==== Timeline Icons ==== */

/* Two rings together */
.hp-ring-left {
  position: relative;
  left: 7px;
}
.hp-ring-right {
  position: relative;
  right: 7px;
}

.hp-timeline .timeline .timeline-badge {
  background: #9dEbff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 3px 10px 0 rgba(0, 0, 0, 0.19);

  transition: all .2s ease-in-out;
}

.hp-timeline .timeline .timeline-badge:hover {
  transform: scale(2);
}

.hp-timeline .timeline .timeline-inverted .timeline-badge {
  background: #ffc9c9;
}

/* ==== Back to Top Button ==== */

.hp-button {
  background: #003249;
  border: #9dEbff;

  /* Make circle */
  border-radius: 100%;

  transition: background .2s ease;
}

.hp-button:hover {
  background: #9dEbff;
}

.hp-back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 100;
}

/* Bit of padding to make chevron look middle of button. */
.hp-back-to-top .fa {
  padding-bottom: 5px;
}

/* ==== Left-right layout for main content ==== */

.hp-section {
  margin: 30px 0;
}

/* ==== Countdown ==== */

.hp-header__countdown--container {
  text-align: center;

  position: relative;
  top: 320px;
}

.hp-header__countdown {
  width: auto;
  display: inline-block;
}

.hp-header__countdown .flip-clock-divider .flip-clock-label {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: large;
}

/* Change the background colour of the tiles. */
.flip-clock-wrapper ul li a div div.inn {
  background-color: #ffc9c9;
  color: white;
  text-shadow: 0 1px 2px #2d2d2d;
}

/* Override colour of colons. */
.flip-clock-dot {
  background: white;
}

/* ==== Google Map of Wedding Location ==== */

.hp-map {
  width: 100%;
  height: 500px;
}

.hp-map__info-title {
  font-weight: bold;
  margin: 5px 0;
}

.hp-map__info {
}

/* ==== Section Images ==== */

.hp-layout__image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 90%;
  padding-top: 90%;

  border-radius: 100%;
  margin: 20px;
}

#on-the-day .hp-layout__image {
  background-image: url(../images/chef.jpg);
}

#accommodation .hp-layout__image {
  background-image: url(../images/hotel.jpg);
}

#gift-list .hp-layout__image {
  background-image: url(../images/present.jpg);
}

/* ==== Fonts ==== */

.hp-font__normal {
  font-family: 'Playfair Display', serif;
}

.hp-font__cursive {
  font-family: 'Pacifico', cursive;
}

/* ==== Footer ==== */

.hp-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}

.hp-footer .container {
  /* Vertical align */
  position: relative;
  top: 25%;

  font-family: 'Pacifico', cursive;
  font-weight: bold;
}

.hp-footer__middle {
  text-align: center;
  display: inline-block;
  width: 60%;
}

.hp-footer__left {
  float: left;
  width: 20%;
}

.hp-footer__left-inner {
  margin-left: 20px;
}

.hp-footer__right {
  float: right;
  width: 20%;
  text-align: right;
}

.hp-footer__right-inner {
  margin-right: 20px;
}
