/* Copyright Drew Silcock (2016) */

/* https://coolors.co/9debff-ff99ff-007ea7-003249-ccdbdc */

/* Hannah's Pink: #ffaaaa */
/* Andy's Blue:  #b7f0ff */

html,
body {
  font-family: 'Playfair Display', serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 75px;
  min-height: 100%;
}

.hp-header .mdl-layout__header,
.hp-header .mdl-layout__drawer-button {
  color: rgba(255, 255, 255, 0.87)
}

/* ==== Navbar ==== */

.hp-navbar {
  background: transparent;
  margin-bottom: 0;
  background-color: #003249;
  border: none;

  color: white;
  text-shadow: none;
}

.hp-navbar.navbar > .container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hp-navbar.navbar .navbar-nav>li>.hp-navlink {
  color: white;
  text-shadow: none;
  border-radius: 100px;
  transition: all .2s ease-in-out;

  background-color: transparent;
  padding: 15px;
  border: none;
}

.hp-navbar.navbar .navbar-nav>li>.hp-navlink:hover,
.hp-navbar.navbar .navbar-nav>li>.hp-navlink:focus {
  background: #9dEbff;
}

.hp-navbar.navbar .navbar-nav>.hp-brand {
  background: #9dEbff;
}

.hp-navbar.navbar .navbar-nav>li.active>.hp-navlink {
  background: #003249;

  filter: none;
  box-shadow: none;
}

.hp-brand.navbar-brand {
  padding: 2px 20px;
  color: white;
  text-shadow: none;
  position: relative;
  width: 100px;

  transition: all .1s ease-in-out;
}

.hp-brand.navbar-brand:hover,
.hp-brand.navbar-brand:focus {
  color: #9dEbff;
  text-shadow: 0 0 1px white;
}

.hp-brand.navbar-brand::before,
.hp-brand.navbar-brand::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hp-brand.navbar-brand::before {
  background-image: url(../images/logo-birds.png);
}

.hp-brand.navbar-brand::after {
  background-image: url(../images/logo-ring.png);

  opacity: 0;
  transition: opacity .1s ease-in-out;
}

.hp-brand.navbar-brand:hover::after,
.hp-brand.navbar-brand:focus::after {
  opacity: 1;
}

/* ==== Main Content ==== */

.hp-content {
  padding: 20px;
}

/* ==== Header Image ==== */

.hp-header__container {
  border: none;
  padding: 10px 0;
}

.hp-header {
  height: 512px;
  background-color: grey;
  color: white;
  text-align: center;
  background: url(../images/fox-tower-circle.jpg) center / contain;
  background-repeat: no-repeat;
  text-align: center;
}

.hp-drawer-title {
  margin: auto auto 10px auto;
}

/* Ignore Above */
.hp-landing-image {
  width: 100%;
}

.hp-grow {
  transition: all .2 ease-in-out;
}

.hp-grow:hover
.hp-grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.hp-header__title {
  margin: 0;
  padding-top: 15px;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 3px 2px rgb(69, 67, 67);
}

.hp-header__title-hannah {
  color: #ffaaaa;
}

.hp-header__title-andy {
  color: #b7f0ff;
}

/* Leading text below header. */
.hp-title,
.hp-lead {
  text-align: center;
}

.hp-lead {
  /* Darkish grey */
  color: #737373;
}

/* Section title style */
.hp-section-title {
  font-style: italic;
  font-size: 40px;
  padding: 10px 0;
  margin-bottom: 20px;

  color: #555;
  border-bottom: ridge #555;
}

@media (max-width: 400px) {
  .hp-section-title {
    font-size: 30px;
  }
}

.hp-section-title__icon {
  float: right;
}

/* Section paragraph style */
.hp-section-paragraph {
  font-size: large;
  margin: 25px 0;
}

.hp-address {
  font-size: large;
}

/* ==== Timeline ==== */

.hp-timeline__section-title {
  width: 83%;
  position: absolute;
}

.hp-timeline {
  padding-top: 125px;
  margin: auto;
}

.hp-timeline__title {
  float: left;
}

.hp-timeline__time {
  float: right;
  font-weight: bolder;
  font-size: x-large;
}

.hp-timeline li .timeline-panel {
  transition: transform .2s ease-in-out;
}

@media (max-width: 768px) {
  /* On small screens, all panels appear on right-hand side. */
  .hp-timeline li .timeline-panel {
    transform-origin: left;
  }

  /* On small screens, scaling X doesn't work; just scale only Y instead. */
  .hp-timeline li:hover .timeline-panel,
  .hp-timeline li:focus .timeline-panel{
    transform: scaleY(1.1);
  }
}

@media (min-width: 768px) {
  /* On larger screens, normal panels are on left-hand side. */
  .hp-timeline li .timeline-panel {
    transform-origin: right;
  }

  /* And inverted panels are on right-hand side. */
  .hp-timeline li.timeline-inverted .timeline-panel {
    transform-origin: left;
  }

  .hp-timeline li:hover .timeline-panel,
  .hp-timeline li:focus .timeline-panel{
    transform: scale(1.1);
  }
}

/* ==== Timeline Icons ==== */

/* Two rings together */
.hp-ring-left {
  position: relative;
  left: 7px;
}
.hp-ring-right {
  position: relative;
  right: 7px;
}

.hp-timeline .timeline .timeline-badge {
  background: #9dEbff;
}

.hp-timeline .timeline .timeline-inverted .timeline-badge {
  background: #ffaaaa;
}

.hp-timeline .timeline li .timeline-badge::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 3px 10px 0 rgba(0, 0, 0, 0.19);
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.hp-timeline .timeline li:hover .timeline-badge::after,
.hp-timeline .timeline li:focus .timeline-badge::after {
  opacity: 1;
}

/* ==== On The Day Section ==== */

.hp-menu {
  font-size: large;
}

.hp-menu .hp-course__starter,
.hp-menu .hp-course__dessert,
.hp-menu .hp-course__starter .panel-heading,
.hp-menu .hp-course__dessert .panel-heading {
  border-color: #f1a1a1;
}

.hp-menu .hp-course__starter .panel-heading,
.hp-menu .hp-course__dessert .panel-heading {
  background: #ffaaaa;
}

.hp-menu .hp-course__main,
.hp-menu .hp-course__main .panel-heading {
  border-color: #b0e1ef;
}

.hp-menu .hp-course__main .panel-heading {
  background: #b6f0ff;
}

.hp-menu .panel-title {
  font-weight: bold;
  font-size: x-large;
}

.hp-menu .hp-menu__or {
  font-family: 'Pacifico', cursive;
  text-transform: uppercase;
  text-align: center;
  width: 100%;

  /* Make position of line in after pseudoelement relative to this element. */
  position: relative;

  /* Allow line in after pseudoelement to be behind text. */
  z-index: 2;
}

.hp-menu .hp-menu__or::before,
.hp-menu .hp-menu__or::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 1px;
  background: #ddd;
  width: 45%;
  display: block;
  z-index: -1;
}

.hp-menu .hp-menu__or::before {
  left: 0;
}

.hp-menu .hp-menu__or::after {
  left: 55%;
}

/* ==== Accommodation Section ==== */

/* Attribution text for photos of hotels. */
.hp-attribution {
  font-size: 6pt;
  text-align: center;
  color: #6f6f6f;
}

/* Attribution takes up space so reduce padding below. */
.hp-thumbnail .thumbnail .caption {
  padding-top: 0;
  margin-top: -10px;
}

@media (max-width: 400px) {
  .hp-thumbnail__container {
    width: 100%;
  }
}

/* ==== General Purpose Text Styles ==== */

.hp-text__center {
  text-align: center;
}

/* ==== Back to Top Button ==== */

.hp-button {
  background: #003249;
  border: #9dEbff;

  transition: background .2s ease-in-out;
}

.hp-button__oval {
  border-radius: 100%;
}

.hp-button:hover,
.hp-button:focus {
  background: #9dEbff;
}

.hp-back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 100;

  transition: background .2s ease-in-out,
              transform 0.2s ease-in-out;
}

.hp-back-to-top:hover,
.hp-back-to-top:focus {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* Pre-render shadow, but hide it. */
.hp-back-to-top::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  top: 0;
  left: 0;

  box-shadow: 0 2px 10px #7f7f7f;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* Simply un-hide shadow on hover. */
.hp-back-to-top:hover::after,
.hp-back-to-top:focus::after {
  opacity: 1;
}

/* Bit of padding to make chevron look middle of button. */
.hp-back-to-top .fa {
  padding-bottom: 5px;
}

/* ==== Left-right layout for main content ==== */

.hp-section {
  margin: 30px 0;
}

/* ==== Countdown ==== */

.hp-header__countdown--container {
  text-align: center;

  position: relative;
  top: 320px;
}

.hp-header__countdown {
  width: auto;
  display: inline-block;
}

.hp-header__countdown .flip-clock-divider .flip-clock-label {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: large;
  z-index: 10; /* Put above countdown numbers. */
}

/* Change the background colour of the tiles. */
.flip-clock-wrapper ul li a div div.inn {
  background-color: #ffaaaa;
  color: white;
  text-shadow: 0 1px 2px #2d2d2d;
}

/* Override colour of colons. */
.flip-clock-dot {
  background: white;
}

/* ==== FlipClock Size ==== */

@media (min-width: 575px) {
  .hp-header__countdown .flip-clock-divider.days .flip-clock-label {
      right: -122px;
  }

  .hp-header__countdown .flip-clock-divider.hours .flip-clock-label {
      right: -92px;
  }

  .hp-header__countdown .flip-clock-divider.minutes .flip-clock-label {
      right: -100px;
  }
}

/* Medium-sized screens. */
@media (max-width: 575px) {
  .flip-clock-wrapper ul {
    width: 40px;
    height: 78px;
    margin: 0 2px;
  }

  .flip-clock-wrapper ul li {
    line-height: 78px;
  }

  .flip-clock-wrapper ul li a div div.inn {
    border-radius: 3px;
    font-size: 50px;
  }

  .flip-clock-wrapper ul li a div.down {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .flip-clock-wrapper ul li a div.up:after {
    top: 38px;
    height: 2px;
  }

  .hp-header__countdown .flip-clock-divider.hours .flip-clock-label {
    right: -65px;
  }

  .hp-header__countdown .flip-clock-divider.minutes .flip-clock-label {
    right: -75px;
  }
}

/* Small-sized screens. */
@media (max-width: 370px) {
  .flip-clock-wrapper ul {
    width: 20px;
    height: 58px;
    margin: 0 2px;
    padding: 15px;
  }

  .flip-clock-wrapper ul li {
    line-height: 58px;
  }

  .flip-clock-wrapper ul li a div div.inn {
    border-radius: 3px;
    font-size: 25px;
  }

  .flip-clock-wrapper ul li a div.down {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .flip-clock-wrapper ul li a div.up:after {
    top: 38px;
    height: 2px;
  }

  .flip-clock-wrapper .flip-clock-divider {
    height: 58px;
  }

  .flip-clock-wrapper .flip-clock-dot.top {
    top: 15px;
  }

  .flip-clock-wrapper .flip-clock-dot.bottom {
    bottom: 15px;
  }

  .hp-header__countdown .flip-clock-divider.days .flip-clock-label {
    right: -71px;
  }

  .hp-header__countdown .flip-clock-divider.hours .flip-clock-label {
    right: -57px;
  }

  .hp-header__countdown .flip-clock-divider.minutes .flip-clock-label {
    right: -67px;
  }
}

/* ==== Google Map of Wedding Location ==== */

.hp-map {
  height: 500px;
  opacity: 0;

  /*transition: opacity .5s ease-in;*/
}

.hp-map.fade-in {
  opacity: 1;
}

.hp-map__info-title {
  font-weight: bold;
  margin: 5px 0;
}

.hp-map__info {
}

/* ==== Section Images ==== */

.hp-layout__image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 90%;
  padding-top: 90%;

  border-radius: 100%;
  margin: 20px;
}

#on-the-day .hp-layout__image {
  background-image: url(../images/chef.jpg);
}

#accommodation .hp-layout__image {
  background-image: url(../images/hotel.jpg);
}

#gift-list .hp-layout__image {
  background-image: url(../images/present.jpg);
}

/* ==== Fonts ==== */

.hp-font__normal {
  font-family: 'Playfair Display', serif;
}

.hp-font__cursive {
  font-family: 'Pacifico', cursive;
}

/* ==== Footer ==== */

.hp-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}

.hp-footer .container {
  /* Vertical align */
  position: relative;
  top: 25%;

  font-family: 'Pacifico', cursive;
  font-weight: bold;
}

@media (max-width: 400px) {
  .hp-footer .container {
    font-size: small;
  }
}

.hp-footer__middle {
  text-align: center;
  display: inline-block;
  width: 60%;
}

.hp-footer__left {
  float: left;
  width: 20%;
}

.hp-footer__right {
  float: right;
  width: 20%;
  text-align: right;
}

/* ==== Share buttons - http://codepen.io/ameyraut/full/yfzog/ ====  */

.hp-share {
  text-align: center;
  margin-top: 30px;
}

.hp-list__unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.hp-list__inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

/* Change icons size here */
.social-icons .fa {
  font-size: 1.8em;
}

/* Change icons circle size and color here */
.social-icons .fa {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease-in-out;
}

.social-icons.icon-circle .fa {
  border-radius: 50%;
  position: relative;
}
.social-icons.icon-rounded .fa {
  border-radius:5px;
}
.social-icons.icon-flat .fa {
  border-radius: 0;
}

.social-icons .fa:hover,
.social-icons .fa:focus,
.social-icons .fa:active {
  color: white;
}

.social-icons .fa::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 3px #333;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.social-icons .fa:hover::after,
.social-icons .fa:focus::after,
.social-icons .fa:active::after {
  opacity: 1;
}

.social-icons.icon-zoom .fa:hover,
.social-icons.icon-zoom .fa:focus,
.social-icons.icon-zoom .fa:active {
   -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.social-icons.icon-rotate .fa:hover,
.social-icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.2) rotate(360deg);
  -ms-transform: scale(1.2) rotate(360deg);
  transform: scale(1.2) rotate(360deg);
}

.social-icons .fa-adn { background-color: #504e54; }
.social-icons .fa-apple { background-color: #aeb5c5; }
.social-icons .fa-android { background-color: #A5C63B; }
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square { background-color: #003366; }
.social-icons .fa-bitcoin,.social-icons .fa-btc { background-color: #F7931A; }
.social-icons .fa-css3 { background-color: #1572B7; }
.social-icons .fa-dribbble { background-color: #F46899; }
.social-icons .fa-dropbox { background-color: #018BD3; }
.social-icons .fa-facebook,.social-icons .fa-facebook-square { background-color: #3C599F; }
.social-icons .fa-flickr { background-color: #FF0084; }
.social-icons .fa-foursquare { background-color: #0086BE; }
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square { background-color: #070709; }
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square { background-color: #CF3D2E; }
.social-icons .fa-html5 { background-color: #E54D26; }
.social-icons .fa-instagram { background-color: #A1755C; }
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square { background-color: #0085AE; }
.social-icons .fa-linux { background-color: #FBC002;color: #333; }
.social-icons .fa-maxcdn { background-color: #F6AE1C; }
.social-icons .fa-pagelines { background-color: #241E20;color: #3984EA; }
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square { background-color: #CC2127; }
.social-icons .fa-renren { background-color: #025DAC; }
.social-icons .fa-skype { background-color: #01AEF2; }
.social-icons .fa-stack-exchange { background-color: #245590; }
.social-icons .fa-stack-overflow { background-color: #FF7300; }
.social-icons .fa-trello { background-color: #265A7F; }
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square { background-color: #314E6C; }
.social-icons .fa-twitter,.social-icons .fa-twitter-square { background-color: #32CCFE; }
.social-icons .fa-vimeo-square { background-color: #229ACC; }
.social-icons .fa-vk { background-color: #375474; }
.social-icons .fa-weibo { background-color: #D72B2B; }
.social-icons .fa-windows { background-color: #12B6F3; }
.social-icons .fa-xing,.social-icons .fa-xing-square { background-color: #00555C; }
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square { background-color: #C52F30; }
